
@{
    ViewData["Title"] = "Add";
}

@model NewProductViewModel

<h1>Add</h1>

<form asp-action="NewProduct" method="post">

    <div class="form-group">
        <label asp-for="Name">Naam</label>
        <input class="form-control" asp-for="Name" />
    </div>

    <div class="form-group">
        <label asp-for="ContainsAlcohol">Bevat Alcohol</label>
        <input asp-for="ContainsAlcohol" />
    </div>

    <div class="form-group">
        <label asp-for="Picture">Pic</label>
        <input class="form-control" asp-for="Picture" />
    </div>

    <div class="form-group row">
        <button class="btn btn-primary col-sm-4 text-center">Add product</button>
    </div>
</form>
